- if user_signed_in?
  %ul#user-menu-desktop.dropdown-content
    %li
      = link_to 'Logout', destroy_user_session_path, method: :delete
    %li
      = link_to 'Exclude Store', '/store'
    %li
      = link_to 'Include Status', '/state'
