.spacing-top {
	margin-top: 30px;
}

.card-header {
  @extend .truncate;
  padding-left: 17px;
}

.collapsible-body {
  padding: 2em;
}

.btn-margin {
	margin: 20px;
}

nav .brand-logo {
	font-size: 20px;
}

.pagination {
  text-align: center;
  padding: 20px;
}

@media #{$large-and-up} {
  nav .brand-logo {
    left: 30px;
  }
}
